<!-- Footer -->
        <footer>
        	<div class="footer-top">
		        <div class="container">
		        	<div class="row">
		        		<div class="col-md-4 col-lg-4 footer-about wow fadeInUp">
		        			<p class="navbar-brand navbar-logo">Nativ</p>
		        			<p>
		        				We are an ethical company that works hard to provide resources and feedback on local restaurants. 
		        			</p>
		        			<p><a href="#">Our Team</a></p>
	                    </div>
		        		<div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown">
		        			<h3>Contact</h3>
		                	<p><i class="fas fa-map-marker-alt"></i> Nashville, TN</p>
		                	<p><i class="fas fa-phone"></i> Phone: (555) 555-5555)</p>
		                	<p><i class="fas fa-envelope"></i> Email: <a href="mailto:hello@domain.com">admin@nativ.com</a></p>
	                    </div>
	                    <div class="col-md-4 col-lg-3 footer-social wow fadeInUp">
	                    	<h3>Follow us</h3>
	                    	<p>
	                    		<a href="#"><i class="fab fa-facebook"></i></a> 
								<a href="#"><i class="fab fa-twitter"></i></a> 
								<a href="#"><i class="fab fa-google-plus-g"></i></a> 
								<a href="#"><i class="fab fa-instagram"></i></a> 
	                    	</p>
	                    </div>
		            </div>
		        </div>
	        </div>
	        <div class="footer-bottom">
	        	<div class="container">
	        		<div class="row">
	           			<div class="col-md-5 footer-copyright">
	                    	<p>&copy; Nativ 2019</p>
	                    </div>
	           		</div>
	        	</div>
	        </div>
        </footer>