@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700|Roboto:300,400,500,700&display=swap');
@import "bootstrap";

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}


#footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: #008080;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 0px 0px;
  font-size: 15px;

}

#footer a {
  color: white;
  font-weight: 100;
}

.social-button {
  margin: 4px;
}

.social a:hover {
  text-decoration: none;
}

.row {
  position: relative;
  margin: 1px;
}

.footer-top { padding: 60px 0; background: #333; text-align: left; color: #aaa; }
.footer-top h3 { padding-bottom: 10px; color: #fff; }

.footer-about img.logo-footer { max-width: 74px; margin-top: 0; margin-bottom: 18px; }
.footer-about p a { color: #aaa; border-bottom: 1px dashed #666; }
.footer-about p a:hover, .footer-about p a:focus { color: #fff; border-color: #aaa; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: #666; }
.footer-contact p a { color: #aaa; border-bottom: 1px dashed #666; }
.footer-contact p a:hover, .footer-contact p a:focus { color: #fff; border-color: #aaa; }

.footer-social a { display: inline-block; margin-right: 20px; margin-bottom: 8px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #aaa; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-bottom { padding: 15px 0; background: #444; text-align: left; color: #aaa; }

.footer-copyright p { margin: 0; padding: 0.5rem 0; }
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #aaa; border: 0; }

/* footer navbar */
.navbar { padding: 0; background: #444; backface-visibility: hidden; }

.navbar-dark .navbar-nav { font-size: 15px; color: #fff; font-weight: 400; }
.navbar-dark .navbar-nav .nav-link { color: #fff; border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #aaa; }
.navbar-dark .navbar-nav .nav-link:focus { color: #aaa; outline: 0; }

.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }